.container {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.intro-text{
  text-align: center;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  line-height: 150%;
  padding: 30px;
  text-decoration: black;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
  }


@media screen and (max-width: 768px) {
  .menubar {
    display: inline-table;
    justify-content: center;
    align-self: center;
    margin-bottom: 40px;
  }

  .menubar ul {
    list-style: none;
  }
  .menubar li {
    display: inline-block;
  }

  .menubar a {
    border: 1px solid white;
    background-color: lightseagreen;
    color: white;
    width: 40px;
    height: 60px;
    text-decoration: none;
    border-width: thin;
    padding: 5px;
    font-weight: bold;
  }

  .menubar a:hover {
    color: white;
    background-color: blue;
  }
  .profilename {
    background-color: lightsteelblue;
    color: black;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    align-self: center;
    width: 100%;
    padding: 30px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .menubar {
    display: inline-table;
    justify-content: center;
    align-self: center;
    margin-bottom: 40px;
  }

  .menubar ul {
    list-style: none;
  }
  .menubar li {
    display: inline-block;
  }

  .menubar a {
    border: 1px solid white;
    background-color: lightseagreen;
    color: white;
    width: 60px;
    height: 60px;
    text-decoration: none;
    border-width: thin;
    font-weight: bold;
    padding: 10px;
  }

  .menubar a:hover {
    color: white;
    background-color: blue;
  }
  .profilename {
    background-color: lightsteelblue;
    color: black;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    align-self: center;
    width: 100%;
    padding: 30px;
    height: 40px;
  }
}
.intro {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: left;
  width: 50%;
  padding: 20px;
}

.project-description {
  align-self: center;
  text-align: center;
  width: 100%;
  color: black;
  padding: 20px;
}

.project-description a {
  color: blue;
  font-weight: bold;
}

.projects {
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.contact-form {
  align-self: center;
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  width: 50%;
  font-weight: bold;
  margin: 0 auto;
}

.contact {
  text-align: center;
  width: 100%;
  align-self: center;
  font-family: "Times New Roman", Times, serif;
}

.submit {
  background-color: lightsteelblue;
  width: 100%;
  padding: 10px 5px;
  border-radius: 10px;
  color: white;
}

input[type="text"] {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 5px;
  width: 100%;
}

textarea {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 5px;
  width: 100%;
}

label {
  display: inline-block;
  padding: 6px 6px;
  text-align: left;
  width: 100%;
  vertical-align: top;
}

.submit:hover {
  background-color: blue;
}

.table-heading {
  font-weight: bold;
  color: blue;
  background-color: white;
  padding: 20px 40px;
  width: 100%;
  text-align: center;
  align-self: center;
}

.previous-work {
  align-self: center;
  border: 1px solid black;
  padding: 30px;
  width: 50%;
}
.previous-work a {
  color: blue;
}

.channel {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 5px;
  width: 100%;
}

.blank-row {
  line-height: 100pt;
  background-color: black;
}
